:root{
  --cards:#E27D60;
  --bg:#6c5ce7;
  --hover:#e74c3c;
  --purple:#C38D9E;
  --darkbg:#41B3A3;
}
body{
  overflow-x: hidden;
}
html{
  margin: 0;
  scroll-behavior: smooth;
}
.nav .blackbox {
  background-color: black
}
.nav .lightbox {
  background-color: white
}